# System files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/

# Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Database files
*.db
*.sqlite

# Log files
*.log

# Dependency directories
venv/
node_modules/